<ion-view view-title="修改密码" cache-view="false">
    <ion-nav-buttons side="left">
        <a class="button icon ion-arrow-left-c icon-left" ng-click="goBack()">
            返回
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button icon ion-person-add icon-right" ng-href='#/login'>
            登陆
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <form ng-submit="doChange()">
                <div class="list">
                    <label class="item item-input">
                        手机号：{{loginData.username}}
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="loginData.oldPassword" placeholder="请输入旧密码">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="loginData.newPassword" placeholder="请输入新密码">
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit">修改</button>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive center">
        <div class="col col-center">
            <a class="button" ng-href='#/tab/home'>
                回到首页
            </a>
        </div>
    </ion-footer-bar>
</ion-view>


